{% block messages %}
<p>{{message}}</p>
{% endblock %}

{% block navigation %}
    {% comment %}
      Sorry for hardcoding these urls. The "correct" way of doing this in a non-hardcoded way is beyond the scope of this "simple" tutorial.
    {% endcomment %}

  <p><a href="{{APP_CANVAS_PAGE}}" target="_top">Home</a>|
     <a href="{{APP_CANVAS_PAGE}}news/" target="_top">News</a>|
     <a href="{{APP_CANVAS_PAGE}}friends/" target="_top">Friends</a></p>
{% endblock %}

{% block content %}

Regular content goes here
{% endblock %}

{% include "simplefbapp/debug.html" %}
